<div class="container-fluid wrap-footer mt-5 ">
    <div class="container ">
      <div class='footer d-flex justify-content-between '>
        <div>
          <span class='brand-name '>ErosShop</span>
        </div>
        <div class='d-flex flex-direction:column'>
          <span class='author align-self-end '>Made by <span class='author-name'>ErosNguyen</span></span>
        </div>
        <div class="social-network">
          <i class="fab fa-github-square"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
        
    </div>
  </div>