<div class="navbar container-fluid fixed-top">
    <div class=' d-flex container'>
      <div>
          <span class='brand-name'>ErosShop</span>
      </div>
      <div class="nav__right ">
        <div class="item__list d-flex justify-content-end">
            <div class="nav__item px-3 mr-3">
              <span class='item-name About'>About</span>
            </div>
            <div class="nav__item px-3 mr-3">
              <span class='item-name Shop'>Shop</span>
            </div>
            <div class="nav__item px-3 mr-3">
              <span class='item-name feedback'>Feedback</span>
            </div>
            <div class="nav__item px-3 mr-3">
              <span class='item-name contact'>Contact</span>
            </div>
        </div>
        </div>
    </div>
</div>