<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>All Product</title>
</head>
<body>
    <%- include('../partials/header.ejs')  %>
    <br></br>
    <div class="container mt-5">
      <form class='mt-5' action='/addproduct' method='POST'>
        <div class="form-group">
          <label for="imgpd">Image product</label>
          <input type="text" class="form-control" id="imgpd" name='img'  placeholder="Enter image">
        </div>
        <div class="form-group">
            <label for="namepd">Name product</label>
            <input type="text" class="form-control" id="namepd" name='name'  placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="pricepd">Price</label>
          <input type="number" class="form-control" id="pricepd" name="price" placeholder="Enter price">
        </div>
      
        <div class="form-group">
          <label for="subImg1">Sub image 1</label>
          <input type="text" class="form-control" id="subImg1" name="subImg1" placeholder="Enter subImg1">
        </div>
        <div class="form-group">
          <label for="subImg2">Sub image 2</label>
          <input type="text" class="form-control" id="subImg2" name="subImg2" placeholder="Enter subImg2">
        </div>
        <div class="form-group">
          <label for="subImg3">Sub image 3</label>
          <input type="text" class="form-control" id="subImg3" name="subImg3" placeholder="Enter subImg3">
        </div>
        <div class="form-group">
          <label for="subImg4">Sub image 4</label>
          <input type="text" class="form-control" id="subImg4" name="subImg4" placeholder="Enter subImg4">
        </div>
        <button type="submit" class="btn btn-primary submit-form">Submit</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs')  %> 

    <script src="index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>